<!-- verificar codio -->
<h1 *ngIf="!bandera" class="auth-title">
  Verificar Codigo
</h1>
<p *ngIf="!bandera" class="auth-subtitle mb-5">
  Introdusca el codigo que le llego a su correo para proceder a poner su nueva contraseña.
</p>

<form *ngIf="!bandera" action="index.html">
  <div class="form-group position-relative has-icon-left mb-4">
    <input type="text"
      class="form-control form-control-xl"
      placeholder="codigo"
      required
      id="dato"
      name="dato"
      [(ngModel)]="dato">
  </div>
  <button (click)="comprobarcodigo(dato)" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">
    Verificar
  </button>
</form>
<div class="text-center mt-5 text-lg fs-4">
  <p class='text-gray-600'>
    Recorde mi cuenta?
    <a (click)="volver()" class="font-bold">
      Iniciar Sesion
    </a>
  </p>
</div>

<!-- actualizar las contras -->
<h1 *ngIf="bandera" class="auth-title">
  Actualizar Contraseña
</h1>
<p *ngIf="bandera" class="auth-subtitle mb-5">
  Introdusca su nueva contraseña y reconfirmela.
</p>
<form *ngIf="bandera"
action="index.html">
  <div class="form-group position-relative has-icon-left mb-4">
    <input type="password"
      class="form-control form-control-xl"
      placeholder="Contraseña"
      required
      id="contra1"
      name="contra1"
      [(ngModel)]="parametro.contra1">
    <div class="form-control-icon">
      <i class="bi bi-shield-lock"></i>
    </div>
  </div>
  <div class="form-group position-relative has-icon-left mb-4">
    <input type="password"
      class="form-control form-control-xl"
      placeholder="Repetir Contraseña"
      required
      id="contra2"
      name="contra2"
      [(ngModel)]="parametro.contra2">
    <div class="form-control-icon">
      <i class="bi bi-shield-lock"></i>
    </div>
  </div>
  <button (click)="actualizar()"
    class="btn btn-primary btn-block btn-lg shadow-lg mt-5">
    Actualizar
  </button>
</form>
