<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>
          Lista de Proyectos
        </h3>
        <p class="text-subtitle text-muted">
          Visualizar la lista de Proyectos
        </p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/dashboard-admin/home']">
                Dashboard
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Lista de Proyectos
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-12 col-lg-6 p-2">
      <div class="card">
        <div class="card-body">
          <form class="form form-horizontal">
            <div class="form-body">
              <div class="col-12 form-group">
                <label for="first-name-column">
                  Filtrado por Tipo
                </label>
                <select (change)='onOptionsSelectedTipo($event)'
                  id="select-type-basic datillo"
                  class="form-control"
                  [(ngModel)]="datillo"
                  name="datillo" required>
                  <option selected>
                    Asigne Rol ...
                  </option>
                  <option [value]="obj.id" *ngFor="let obj of tipos">
                  {{obj.Name}}
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <div class="col-12 col-lg-8 p-2">
      <div class="row">
        <div *ngIf="botonfiltro" class="col-12 p-2">
          <div class="row">
            <div class="card">
              <div class="card-header">
                Filtros
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-lg-6 p-2">
                    <button (click)="habilitarfiltroencargado()" type="submit" class="btn btn-primary">
                      Por Encargado
                    </button>
                  </div>
                  <div class="col-12 col-lg-6 p-2">
                    <button (click)="habilitarfiltroempresa()" type="submit" class="btn btn-primary">
                      Por Empresa
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="botonesencargado" class="col-12 p-2">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <form class="form form-horizontal">
                  <div class="form-body">
                    <div class="col-12 form-group">
                      <input type="text" id="eldato"
                      name="eldato" class="form-control"
                      [(ngModel)]="eldato"
                      placeholder="Correo, documento o celular del usuario">
                    </div>
                    <div class="col-12 d-flex justify-content-around">
                      <button (click)="buscarcorreo(eldato)" type="submit" class="btn btn-primary">
                        Correo
                      </button>
                      <button (click)="buscardocumento(eldato)" type="submit" class="btn btn-primary">
                        Documento
                      </button>
                      <button (click)="buscarcelular(eldato)" type="submit" class="btn btn-primary">
                        Celular
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="botonesempresa" class="col-12 p-2">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <form class="form form-horizontal">
                  <div class="form-body">
                    <div class="col-12 form-group">
                      <label for="first-name-column">
                        Filtrado por RUC
                      </label>
                      <input type="text" id="eldato"
                      name="eldato" class="form-control"
                      [(ngModel)]="eldato"
                      placeholder="Ruc de la empresa">
                    </div>
                    <div class="col-12 d-flex justify-content-around">
                      <button (click)="buscarruc(eldato)" type="submit" class="btn btn-primary">
                        Buscar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 p-2">
      <div class="card">
        <div class="card-body">
          <button (click)="crear()" type="button" class="btn btn-primary">
            <i class="bi bi-person-plus-fill"></i>
            Crear Proyecto
          </button>
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">

    </div>
    <!-- <div *ngIf="!filtroporempresa && !filtroporencargado" class="card"> -->
    <div class="card">
      <div class="card-header">
        Listado
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table1">
          <thead>
            <tr>
              <th>
                Nombre
              </th>
              <th>
                Descripcion
              </th>
              <th>
                FechaInicio
              </th>
              <th>
                FechaFin
              </th>
              <th>
                Estado
              </th>
              <th>
                Empresa
              </th>
              <th>
                Encargado
              </th>
              <th>
                Editar
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of proyectos">
              <td>
                {{item.Nombre}}
              </td>
              <td>
                {{item.Descripcion}}
              </td>
              <td>
                {{item.FechaInicio}}
              </td>
              <td>
                {{item.FechaFin}}
              </td>
              <td>
                {{item.Estado}}
              </td>
              <td>
                {{item.empresa.Nombre}}
              </td>
              <td>
                {{item.usuario.Nombre + ' ' + item.usuario.Apellido}}
              </td>
              <td>
                <button (click)="editar(item.id)" type="button" class="btn btn-info">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script>
      let table1 = document.querySelector('#table1');
      let dataTable = new simpleDatatables.DataTable(table1);

    </script>
  </section>
</div>
